<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<body>
<!--<div class="wrapper">-->
<!-- Navigation -->
<header th:replace="fragments/commons::navigation">
</header>

<!-- Top Container -->
<div class="row justify-content-center ">
    <form id="add-route-form" class="w-50 rounded text-white mt-5"

          th:action="@{/routes/add}"
          th:method="post"
          th:object="${routeAddBindingModel}"
          enctype="multipart/form-data">

        <h3 class="border-left border-light pl-2">Add a new route</h3>
        <div>
            <div class="form-group">
                <label for="inputName" class="col-form-label ">Name</label>
            </div>
            <div class="form-group">
                <input name="name"
                       th:field="*{name}"
                       th:errorclass="'is-invalid bg-danger'"
                       required minlength="1" maxlength="20"
                       type="text"
                       id="inputName"
                       class="form-control"
                       aria-describedby="inputNameError">
                <small id="inputNameError"  th:errors="*{name}"
                       class="invalid-feedback rounded">Name length must be more than 3 characters</small>

            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="inputDescription" class="col-form-label ">Description</label>
            </div>
            <div class="form-group">
                    <textarea th:field="*{description}"
                              th:errorclass="'is-invalid bg-danger'"
                              required minlength="5"
                              id="inputDescription"
                              class="form-control"
                              aria-describedby="inputDescriptionError"></textarea>
                <small id="inputDescriptionError"
                       class="invalid-feedback  form-text bg-danger rounded">Description length must be more than 5
                    characters</small>
            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="inputGpx" class="col-form-label ">GPX Coordinates</label>
            </div>
            <div class="form-group">
                <input type="file"
                       th:field="*{gpxCoordinates}"
                       th:errorclass="'is-invalid bg-danger'"
					   required
                       id="inputGpx"
                       class="form-control-file"
                       aria-describedby="inputGpxError">
                <small id="inputGpxError"
                       class="invalid-feedback  form-text bg-danger rounded">Must be valid GPX Coordinates</small>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="level">Level</label>
                <select th:field="*{level}"
                        th:errorclass="'is-invalid bg-danger'" id="level" class="custom-select">
                    <option value="" selected>Select level</option>
                    <option th:each="l : ${T(com.example.patfinderd.model.entity.enums.LevelEnum).values()}" th:value="${l}" th:text="${l}">Select level</option>
                </select>
            </div>
        </div>
        <div>

            <div class="form-group">
                <label for="videoUrl">Video Url (only last eleven characters from Youtube)</label>
                <input th:field="*{videoUrl}" id="videoUrl" type="text"
                       class="form-control" placeholder="Video url">
            </div>
        </div>

        <div>
            <div class="form-group p-3">
                <label class="p-2" for="categories">Categories:</label>
                <input  th:each="c : ${T(com.example.patfinderd.model.entity.enums.CategoryNameEnum).values()}"
                       th:object="${c}" th:text="${c}" th:value="${c}" class="m-3" type="checkbox" name="categories" id="categories"
                       value="1" text="Category">
				<br>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary btn-block w-50" type="submit">Add Route</button>
        </div>

    </form>
</div>
<footer th:replace="fragments/commons::footer">
</footer>
</body>
</html>
